@import url(profile-acc.css);
body {
    position: relative;
    min-height: 100vh;
}

#top {
    width: 100%;
    height: 100vh;
    position: relative;
}
/* Hero Container */
.hero-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #E0F7FA;
    background: -webkit-linear-gradient(121deg, rgba(224, 247, 250, 1) 0%, rgba(237, 206, 206, 1) 38%, rgba(245, 230, 230, 1) 75%, rgba(219, 197, 197, 1) 100%);
    background: -moz-linear-gradient(121deg, rgba(224, 247, 250, 1) 0%, rgba(237, 206, 206, 1) 38%, rgba(245, 230, 230, 1) 75%, rgba(219, 197, 197, 1) 100%);
    background: linear-gradient(121deg, rgba(224, 247, 250, 1) 0%, rgba(237, 206, 206, 1) 38%, rgba(245, 230, 230, 1) 75%, rgba(219, 197, 197, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E0F7FA", endColorstr="#DBC5C5", GradientType=0);
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Text Hero */
    .text-hero {
        background: transparent;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 500px;
    }
    .slogan-hero h1 {
        font-size: 47px;
    }
    .by-hero p {
        text-align: left;
        translate: -100px;
        font-style: italic;
    }
    .desc-hero {
        width: 800px;
    }
    .desc-hero p {
        letter-spacing: 2.3px;
        translate: 0 50px;
    }

    /* Hero Image */
    .img-hero {
        position: relative;
        width: 800px;
        height: 100%;
    }
    .img-hero img {
        position: absolute;
    }
    #riya {
        width: 800px;
        translate: 250px -50px;
        z-index: 2;
        pointer-events: none;
    }
    #belly {
        width: 400px;
        z-index: 1;
        translate: 150px 150px;
        border-radius: 50%;
        box-shadow: 0 0 60px 5px rgba(238, 9, 74, 0.6);
        transition: box-shadow 0.3s ease;
    }
    #belly:hover {
        box-shadow: 0 0 70px 10px rgba(85, 51, 236, 0.6);
    }

/* End Hero */

#features {
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
}